.card-dashboard-product {
    margin-bottom: 15px;

    .card-body{
        .product-title{
        font-weight: normal;
        font-size: 18px;
        color: #0C0D36;
        }

        .product-category{
        font-weight: normal;
        font-size: 16px;
        color: #C5C5C5;

        }
    }
}